* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  height: 100vh;
}
.pointer {
  color: rgba(255, 255, 255, 0.767);
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.texture-select {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border: 2px solid black;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.39);
  display: flex;
  gap: 10px;
}
.texture-select img {
  width: 60px;
  image-rendering: pixelated;
  border: 1px solid black;
}
.texture-select img.selected {
  border: 4px solid rgb(0, 0, 0);
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  animation: fadeout 1s;
}

.menu {
  position: absolute;
  top: 5%;
  left: 5%;
}
